<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <template v-if="!isEnter">
            <div class="ctrl">
                <p>昵称：<input v-model="name" type="text"></p>
                <p>房间号：<input v-model="roomid" type="text"></p>
                <button type="button" @click="enter">进入聊天室</button>
            </div>
        </template>
        <template v-else>
            <ul>
                <li v-for="(v, index) in list" :key="index">{{v}}</li>
                <li>在线人数{{num}}</li>
            </ul>
            <div class="ctrl">
                <input v-model="msg" type="text">
                <button type="button" @click="send">发送</button>
            </div>
        </template>
    </div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            ws: null,
            msg: '',
            list: [],
            isEnter: false,
            name: '',
            num: 0,
            roomid: '',
            handler: {}
        },
        mounted() {
        },
        methods: {
            // 超时重连
            checkServer() {
                const _this = this
                // 如果没到时间收到了第二次请求就会清空上次定时器
                clearTimeout(this.handler)
                this.handler = setTimeout(() => {
                    _this.onclose()
                    setTimeout(() => {
                        _this.init()
                    }, 1000)
                }, 2000 + 500)
            },
            init() {
                // 建立连接
                this.ws = new WebSocket('ws://192.168.0.101:3000')
                this.ws.onopen = this.open
                this.ws.onmessage = this.message
                // 客户端主动断开连接：结束程序/ws.close()
                this.ws.onclose = this.close
                // 连接失败，比如服务器断开，先触发error再触发close
                this.ws.onerror = this.error
            },
            // 进入聊天室
            enter() {
                if(this.name.trim() === '') {
                    alert('请输入昵称')
                    return 
                }
                // 建立连接
                this.init()
                this.isEnter = true
            },
            send() {
                this.ws.send(JSON.stringify({
                    type: 'message',
                    message: this.msg,
                    name: this.name,
                    roomid: this.roomid
                }))
                this.list.push(`${this.name}：${this.msg}`)
                this.msg = ''
            },
            open() {
                console.log('onopen', this.ws.readyState); // 1
                // 发起鉴权请求
                this.ws.send(JSON.stringify({
                    type: 'auth',
                    message: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Im5haXhlcyIsImlhdCI6MTUxNjIzOTAyMn0.KK0yPOJtJN1AdNAPD0WvsRgcIGlJaLZfjP4DGcJhk_k'
                }))
                this.ws.send(JSON.stringify({
                    type: 'enter',
                    name: this.name,
                    roomid: this.roomid
                }))
            },
            message(e) {
                // 进入之前不接收消息
                if(!this.isEnter) {
                    return
                }
                data = JSON.parse(e.data)

                switch (data.type) {
                    case 'heartbeat':
                        this.checkServer()
                        this.ws.send(JSON.stringify({
                            type: 'heartbeat',
                            message: 'pong'
                        }))
                        break;
                    case 'noauth':
                        // 鉴权失败，路由跳转，重新鉴权
                        break;
                    case 'enter':
                        this.list.push(`欢迎${data.name}进入聊天室`)
                        break;
                    case 'out':
                        this.list.push(`${data.name}：退出聊天室`)
                        break;
                    case 'message':
                        if(data.name !== this.name) {
                            this.list.push(`${data.name}：${data.message}`)
                        }
                        break;
                    default:
                        break;
                }

                // if(data.type === 'noauth') {
                //     // 鉴权失败，路由跳转，重新鉴权
                // }
                // if(data.type === 'enter') {
                //     this.list.push(`欢迎${data.name}进入聊天室`)
                // }else if(data.type === 'out') {
                //     this.list.push(`${data.name}：退出聊天室`)
                // }else if(data.type === 'message') {
                //     if(data.name !== this.name) {
                //         this.list.push(`${data.name}：${data.message}`)
                //     }
                // }
                this.num = data.num
                console.log('onmessage', this.ws.readyState); // 1
            },
            close() {
                this.ws.close()
                console.log('onclose', this.ws.readyState); // 3
            },
            error() {
                const _this = this
                this.handler = setTimeout(() => {
                    _this.init()
                }, 1000)
                console.log('onerror', this.ws.readyState); // 3
            }
        },
    })
</script>
</html>