body {
  background-image: url('../img/bg.jpg')
}
.container {
  margin: 0 auto 0 auto;
  width: 129px;
  perspective: 400px;
}
.box {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.box > div {
  position: absolute;
  width: 129px;
  height: 1170px;
}