doctype
html
    head
        //- ()属性
        meta(charset='utf-8')
        meta(name='site', content='test')
        //- =赋值
        title=title
        //- .多行代码
        script.
            window.onload = function() {
                let dom = document.getElementById('div')
                dom.onclick = function() {}
            }
    body
        ul
            each user in users
                li(class='user-item clearfix')
                    span(class='name')=user.name
                    span(class='pass')=user.pass