* {
  padding: 0;
  margin: 0;
}
#fullpage {

}

.first{
  padding-top: 50px;
}
/*插件会在section中自动添加一层结构，所以这里不用直接子元素*/
.first .logo {
  /*图片对齐方法：1，（display: table-cell;）text-align:center;
  2,定位+transform；3，flex布局；4，宽高+margin：0 auto*/
  text-align: center;
}
.first .text {
  margin-top: 80px;
  text-align: center;
}
.first .text > img {
  margin: 0 30px;
  opacity: 0.2;
}
.first .intro {
  margin-top: 40px;
  text-align: center;
}
/*利用交集选择器添加过渡*/
.first.current .text > img {
  margin: 0 5px;
  opacity: 1;
  /*多个过渡用逗号隔开*/
  transition: margin 1s, opacity 1s;
}
.second {
  position: relative;
}
.second .shield {
  width: 440px;
  /*由于图片是基线对齐间距会大一些*/
  /*可以修改img对齐方式：1，vertical-align；2，将行高设为0；3，将字号设为零；4，改为块级元素*/
  /*图片水平的间距由空格引起：可以将字号设为零或将img连续写*/
  font-size: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-120%, -50%);
}
.second .shield img:nth-of-type(1) {
  transform: translate(-100px, 50px) rotate(30deg);
}
.second .shield img:nth-of-type(2) {
  transform: translate(-110px, -40px) rotate(-40deg);
}
.second .shield img:nth-of-type(3) {
  transform: translate(120px, -50px) rotate(50deg);
}
.second .shield img:nth-of-type(4) {
  transform: translate(120px, 80px) rotate(-60deg);
}
.second .shield img:nth-of-type(5) {
  transform: translate(-110px, 60px) rotate(30deg);
}
.second .shield img:nth-of-type(6) {
  transform: translate(-100px, -90px) rotate(-30deg);
}
.second .shield img:nth-of-type(7) {
  transform: translate(100px, -80px) rotate(30deg);
}
.second .shield img:nth-of-type(8) {
  transform: translate(90px, 60px) rotate(-30deg);
}
.second .shield img:nth-of-type(9) {
  transform: translate(-100px, 110px) rotate(30deg);
}
.second .info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}
/*过渡效果*/
.second.current .shield img {
  transform: none;
  transition: transform 1s;
}
